body {
  background-color: silver;
}
/* definindo cor de fundo da nav */
nav {
  background-color: #333;
}
/* estilizando os elementos li no formato de linha */
nav ul li {
  display: inline-block;
}
/* estilizando a tag 'a', text decoration none para tirar a decoração padrao e adicionando
    uma leve transição */
nav ul li a {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* definindo cor de fundo quando passar o mouse em cima das opcoes do menu */
nav ul li a:hover {
  background-color: #555;
}
#div2 {
  display: flex;
  justify-content: center;
}
#p1 {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
#div3 {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Cria duas colunas de tamanho igual */
  gap: 10px; /* Define um espaçamento entre as imagens */
}

#div3 img {
  width: 75%; /* Garante que as imagens ocupem 100% da largura das colunas */
  height: auto; /* Mantém a proporção original da imagem */
  margin-left: auto;
  margin-right: auto;
}

#footer {
  position: fixed; /* Posiciona o elemento de forma fixa na janela de visualização */
  bottom: 0; /* Define a distância em relação ao rodapé (0 significa que o footer ficará colado no rodapé) */
  left: 0; /* Alinha o footer à esquerda da janela de visualização */
  width: 100%; /* Define a largura do footer para ocupar 100% da largura disponível */
  background-color: #333; /* Define a cor de fundo do footer */
  padding: 10px; /* Adiciona um espaçamento interno ao footer */
  text-align: center; /* Centraliza o conteúdo do footer horizontalmente */
}

#footer-text {
  /* cor do texto */
  color: white;
}

.icon {
  width: 30px; /* Ajuste conforme necessário */
  vertical-align: middle;
  margin-right: 10px;
}
